{% extends 'base.html.twig' %}

{% block title %}Modifier une wishlist{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    <button type="submit" class="btn">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
